.wrap{
    text-align: center;
    margin: 100px 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
.wrap p{
    color: gray;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
.wrap-icons {
    padding: 10px 100px;
    display: flex;
}
.wrap-icons img{
    height: 50px;

}
.wrap-icons h2{
    font-family: 'Cabin', sans-serif;
}
.wrap-icons p{
    color: grey;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
}
.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}