ul {
    list-style-type: none;
}

.list {
    margin: 0;
    list-style: none;
    padding-left: 20px;
    display: none;
}

.list.open {
    display: block;
}

.arrow::before {
    content: '▶ ';
    font-size: 80%;
    color: green;
}

.arrow.open::before {
    content: '▼ ';
}

.btn {
    cursor: pointer;
}

.active {
    color: orange;
}