body{
    padding: 0;
    margin: 0;
}

a{
    color:#fff;
    text-decoration: none;
}

.container{
    width: 1100px;
    margin: auto;
    position: relative;
    font-family: 'Raleway', sans-serif;
}

.header{
    background-color: black;
    padding: 16px 0;
    position: relative;
    z-index: 999;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 100px;
    height: 40px;

}

.menu{
    color:#fff ;
    margin: 0px;
}


.menu_item{
    display: inline-block;
    margin-right: 40px;
}

.menu_item:last-child{
    margin-right: 0;
}

.top{
    background-color: black;
}

.description {
    width: 500px;

}

.description_logo{
    margin-bottom: 30px;
    margin-top: 100px;
}

.description_border{
    width: 60px;
    border-bottom: 2px solid #fff;
}
.description_title{
    color: #fff;
    font-size:36px ;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: 'Heebo', sans-serif;
    display: inline-block;

}

.description_text{
    font-size: 16px;
    color: rgba(255,255,255,0.8);
    line-height: 1.430;
    font-family: 'Raleway', sans-serif;
    margin-top: 34px;
}

.description_button{
    display: inline-block;
    border: 2px solid #fff;
    padding: 10px 25px;
    font-size: 15px;
    font-family: sans-serif;
    color: #fff;
    line-height: 1.2;

}

.top{
    background-image: url("img/image.png");
    background-position: center;
    height: 650px;

}

.top_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-form{
    padding: 20px;
    margin-top: 100px;
    margin-left: 50px;

}

.top-form_title{
    font-family: 'Heebo', sans-serif;
    background-color: darkgray;
    text-align: center;
    padding: 12px 12px;
    border-radius: 3px 3px 0 0;
    margin:0 ;


}

.top-form_input{
    padding: 30px;
    display: flex;
    justify-content: center;
    width: 270px;
    border: 0 solid #FFF;

}

.top-form_orange {
    padding: 18px;
    border: 0 solid #E58643;
    border-radius: 0 0 3px 3px;
    color: white;
    background-color: #E58643;
    width: 330px;
}


/*...........Solial Media.........*/

.social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid #cbcbcb;
}

.container_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.solia_media{

}

.head{
    font-family: 'Heebo', sans-serif;
}

.text{
    color: darkgray;
}

.icons i{
   margin: 20px;
    color: #cacaca;
    font-size: 40px;

}

.checkbox{
    display: none;
}

/*.......container.......*/


.feature{
    background-color: #f5f5f5;
    padding: 150px 0;


}

.checkbox:checked ~ .fake-checkbox{
    background-color: #ff8b38;
    border-radius: 3px 3px 0 0;


}
.checkbox:checked ~ .features_middle {
    display: block;
}

.fake-checkbox{
    height: 100px;
    width: 100px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
    font-family: 'Cabin', sans-serif;
    border-radius: 0 0 3px 3px;

}

.features_h2{
    padding-bottom: 50px;
    margin: 0;
    font-family: 'Cabin', sans-serif;
}

.features_text{
    margin-bottom: 20px;
    color: #858689;
    font-size: 15px;

}

.features_text .features_text_last{
    margin-bottom: 45px;

}

.features_middle{
    position: absolute;
    top: 50%;
    left: 100px;
    display: none;
    transform: translateY(-50%);
    margin-left: 100px;

}

.orange_button_small{
    padding: 10px 20px;
    color: #FFF;
    background-color: #ff8b38;
    border: 1px solid #ff8b38;
    border-radius: 2px;
}

.feature_container {
    background-image: url("img/building.png");
    background-repeat: no-repeat;
    background-position: center right;
}

.wrap{
    text-align: center;
    margin: 100px 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.wrap p{
    color: gray;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}



/*......why this is awesome.....*/

.wrap-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.wrap-icons img{
    height: 50px;

}

.wrap-icons h2{
    font-family: 'Cabin', sans-serif;
}

.wrap-icons p{
    color: grey;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.4em;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex-center i{
    color: #ff8b38;
    font-size: 25px;
    line-height: 2.5em;
}

.border_lightbuld{
    width: 60px;
    height: 60px;
    border: 2px solid #ff8b38;
    border-radius: 100px;
    text-align: center;
}


/*.....pricing options....... */
.pricing_container{
   background-color: #f5f5f5;
}

.container_option{
    background-color: #f5f5f5;
    padding-bottom: 100px;
    width: 1100px;
    margin: auto;
}

.caption{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
}

.mode_div{
    width: 60px;
    margin-bottom: 30px;
    border: 1.5px solid #ff8b38;
}
.lead{
    font-size: 40px;
    margin-top: 100px;
    text-transform: uppercase;
}

.small_text{
    color: #808080;
}

.option{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: flex-end;
}

.basik{
    background-color: #333333;
    color: #ffffff;
    padding: 18px;
    border-bottom: 1px solid #FFFFFF;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}

.money{
    background-color: #333333;
    color: #ffffff;
    font-size: 50px;
    padding: 20px;
    border-bottom: 1px solid #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.free{
    background-color: #333333;
    color: #808080;
    padding: 20px;
    border-bottom: 5px solid #ff8b38;
    font-style: oblique;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.plan{
    display: inline-block;
    list-style: none;
    background-color: #FFFFFF;
    padding: initial;
    width: 342px;
}

.col{
    padding: 15px;
    border-bottom: 1.5px solid #f5f5f5 ;
    color: #86878b;
}

.Most_popular {
    background-color: #ff8b38;
    font-family: 'Cabin', sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 15px;
    color: #FFFFFF;
}

/*...........what our customers are saying.........*/


.lead_cot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.icons_img{
    width: 70px;
    height: 70px;
    margin-top: 8px;
    margin-left: 3px;
}

.lorem_dolor{
    background-color: #f5f5f5;
    padding: 20px 10px;
    width: 250px;
    border-radius: 3px;
    position: relative;
    font-family: 'Raleway', sans-serif;
    color: #86878b;


}
p.lorem_dolor::after{
    border-top: 15px solid #f5f5f5;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content:"";
    position: absolute;
    bottom: -15px;
    left: 27px;

}

.border_top {
    border-top: 15px solid black;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;


}

.name_kris{
    margin-left: 18px;
}

.name{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.work{
    font-size: 14px;
    font-family: 'Cabin', sans-serif;
}

.avatar{
    display: flex;
}



/*......stylish axure desigh......*/


.custom_section{
    background-image: url("img/custom_panel.png");
    height: 100%;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
}

.custom_caption{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif
}


.lead_white{
    font-size: 40px;
    margin-top: 100px;
    text-transform: uppercase;
    color: #FFF;
}

.mode_white{
    width: 60px;
    margin-bottom: 30px;
    border: 1.5px solid #FFF;
}

.custom_text{
    margin-bottom: 35px;
    color: #808080;
}

.custom_button{
    display: inline-block;
    border: 2px solid #fff;
    padding: 10px 25px;
    font-size: 15px;
    font-family: sans-serif;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 40px;
}



/*..........contact us.........*/


.contact_input{
    margin-top: 100px;
}
.contact_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_form {
    padding-bottom: 10px;
    width: 490px;
    outline: none;
    margin: 20px;

}
.contact_message{
    padding: 10px 0 137px 10px;
    width: 490px;
    outline: none;
    margin-right: 20px;
}


input[type='text']{
    border: none;
}
input[type="textarea"]{
    border: none;
}

input[placeholder='Name']{
    border-bottom: 1.5px solid #cdcdcd;
}

input[placeholder='Email']{
    border-bottom: 1.5px solid #cdcdcd;
}

input[placeholder='Subject']{
    border-bottom: 1.5px solid #cdcdcd;
}

input[placeholder='Message']{
    border-bottom: 1.5px solid #cdcdcd;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.message{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_message{
    margin-top: 30px;
    border: 2px solid orange;
    background-color: orange;
    color: #fff;
    padding: 10px 25px;
    font-size: 15px;

}

/* ..............fotter..........*/

.footer{
    background-color: #000000 ;
}

.icons_font{
    padding: 50px;
    color: #cacaca;
    margin-top: 20px;
    text-align: center;
}

.icons_font i{
    padding: 10px;
}
