body{
    padding: 0;
    margin: 0;
}

a{
    color:#fff;
    text-decoration: none;
}

.container{
    width: 1100px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

.header{
    background-color: black;
    padding: 16px 0;
}

.header_container {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 100px;
    height: 40px;

}

.menu{
    color:#fff ;
    margin: 0px;
}

.menu_item{
    display: inline-block;
    margin-right: 40px;
}

.menu_item:last-child{
    margin-right: 0;
}

.top{
    background-color: black;
}

.description {
    width: 500px;

}

.description_logo{
    margin-bottom: 30px;
    margin-top: 100px;
}

.description_title{
    color: #fff;
    font-size:36px ;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: 'Heebo', sans-serif;
    display: inline-block;
    border-bottom: 2px solid #fff;
    padding-bottom: 20px;
}

.description_text{
    font-size: 16px;
    color: rgba(255,255,255,0.8);
    line-height: 1.430;
    font-family: 'Raleway', sans-serif;
}

.description_button{
    display: inline-block;
    border: 2px solid #fff;
    padding: 10px 25px;
    font-size: 15px;
    font-family: sans-serif;
    color: #fff;
    line-height: 1.2;

}

.top{
    background-image: url("img/photo_2019.jpg");
    background-position: center;
    background-size: 100%;
    height: 650px;
    background-color:rgba(0,0,0,.50);
}

.top_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-form{
    padding: 20px;
    margin-top: 100px;
    margin-left: 50px;

}

.top-form_title{
    font-family: 'Heebo', sans-serif;
    background-color: darkgray;
    text-align: center;
    padding: 12px 12px;
    border-radius: 3px 3px 0 0;
    margin:0 ;
}

.top-form_input{
    padding: 30px;
    display: flex;
    justify-content: center;
    width: 270px;
    border: 0 solid #FFF;

}

.top-form_orange{
    padding: 18px;
    border: 0 solid #E58643;
    border-radius: 0 0 3px 3px;
    color: white;
    background-color: #E58643;
    width: 330px;

}

.common{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.solia_media{
    display: flex;
    flex-direction: column;
}

.head{
    font-family: 'Heebo', sans-serif;
}

.text{
    color: darkgray;
}

.icons img{
   margin: 25px;

}

.wrap{
    text-align: center;
    margin: 100px 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.wrap p{
    color: gray;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.wrap-icons {
    margin: 10px 100px;
    display: flex;
    padding-bottom: 50px;
}

.wrap-icons img{
    height: 50px;

}

.wrap-icons h2{
    font-family: 'Cabin', sans-serif;
}

.wrap-icons p{
    color: grey;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section{
    background-color: #f5f5f5;
    padding-bottom: 100px;

}

.caption{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;

}

.lead{
    font-size: 40px;
    border-bottom: 1.5px solid #ff8b38;
    margin-top: 62px;
    padding-bottom: 20px;
}

.Basic{
    display: flex;
    justify-content:center;
    text-align: center;
}

.Basic_1{
    background-color: #333333;
    color: #ffffff;
    padding: 18px;
    border-bottom: 1px solid #FFFFFF;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;

}

.money{
    background-color: #333333;
    color: #ffffff;
    font-size: 50px;
    padding: 20px;
    border-bottom: 1px solid #FFFFFF;
}

.Free{
    background-color: #333333;
    color: #808080;
    padding: 20px;
    border-bottom: 5px solid #ff8b38;
    font-style: oblique;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.column{
    list-style: none;
    background-color: #FFFFFF;
    padding: inherit;
    margin: 60px;
    width: 400px;

}

.col{
    padding: 15px;
    border-bottom: 1.5px solid #f5f5f5 ;

}

.Professional{
    list-style: none;
    background-color: #FFFFFF;
    padding: inherit;
    width: 400px;


}

.Professional_Pro{
    background-color: #333333;
    color: #ffffff;
    padding: 18px;
    border-bottom: 1px solid #FFFFFF;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}

.money{
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    border-bottom: 1px solid #FFFFFF;
}

.Monthly{
    background-color: #333333;
    color: #808080;
    padding: 20px;
    font-style: oblique;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.Most_popular{
    background-color: #ff8b38;
    font-family: 'Cabin', sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 15px;
    color: #FFFFFF;

}

.Enterprise{
    list-style: none;
    margin: 60px;
    background-color: #FFFFFF;
    padding: inherit;
    width: 400px;
}

.Enterprise_Pro{
    background-color: #333333;
    color: #ffffff;
    padding: 18px;
    border-bottom: 1px solid #FFFFFF;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}

.Monthly_Payment{
    background-color: #333333;
    color: #808080;
    padding: 20px;
    font-style: oblique;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    border-bottom: 5px solid #ff8b38;


}

.lorem_dolor{
    background-color: #767676;
    padding: 20px;
}